*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    align-content: center;
    align-items: center;
    background-image: linear-gradient( 179.7deg,  rgba(252,123,123,1) -0.9%, rgba(255,187,147,1) 15.6%, rgba(252,169,245,1) 32.6%, rgba(251,253,134,1) 51.2%, rgba(150,254,179,1) 68.9%, rgba(157,164,253,1) 84.2%, rgba(202,130,253,0.98) 101.4% );
}
.submit-form{
    width:350px;
    height:680px;
    border-radius: 10px;
    position: relative;
    top: 400px;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url(./img/xsh5.png);
    background-repeat: no-repeat;
    justify-content:center;
    background-size: 100% 100%;
    box-shadow:rgb(153, 81, 81) 0px 0px 20px;
}
.top{
    height: 85px;
}
.submit-form h2{
    text-align: center;
    margin-top: 5%;
    position: relative;
    bottom: -15px;
}
.submit-form h3{
    text-align: center;
    position: relative;
    bottom: -15px;
}
#college_class_name{
    margin:0;
}
.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin:20px 0;
}
.txtb input{
    font-size: 15px;
    color:#333;
    border:none;
    width:100%;
    outline:none;
    background: none;
    padding:0 5px;
    height:40px;
}
#CCNwarning ,#Namewarning, #Sexwarning, #QQwarning, #PNwarning, #Hoppywarning{
    float:right;
}
.txtb .span::before{
    content: attr(data-placeholder);
    display:inline;
    position: absolute;
    top:50%;
    left:5px;
    color:#020000;
    transform:translateY(-50%);
    z-index:-1;
    transition:.5s;
}
.txtb .span::after{
    content:'';
    position: absolute;
    width:0%;
    height:2px;
    background: linear-gradient(120deg,#3498db,#8e44ad);
    transition:.5s;
}
.focus + .span::before{
    top:-5px;
}
.focus + .span::after{
    width:100%;
}

.span_warn{
    margin-left:300px;
    display:inline;
    position: relative;
    bottom:20px;
}

.box{
    width: 600px;
    height: 20px;
    position: relative;
    bottom:75px;
}
.box input{
    display: none;
}
.box label{
    display: inline;
    line-height: 50px;
    position: relative;
    text-align: center;
    padding: 13px 0 0 40px;
    background-color: transparent;
}
.box label:active{
    background:#EEEEEE;
}
.box label:after{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #adadad;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
}
.box input:checked + label:after{
    background-color: rgb(136, 95, 170);
}

.sub-btn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size: 200%;
    outline:none;
    cursor: pointer;
    transition:.5s;
    position: relative;
    top:70px;
}
.sub-btn:hover{
    background-position: right;
}
